*{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 90px;
    width: 60%;
    height: 70vh;
    box-shadow: 5px 5px 10px black,
                 -5px -5px 10px rgba(0, 0,0,0.6);
    border-radius: 30px;
    flex-wrap: wrap;
    background-color: black;
}
h1{
    color: tomato;
    font-family: cursive;
    font-size: 40px;
    padding-left: 50px;
}
.form{
    min-height: 5vh;
    min-width: 50%;
    transform-style: preserve-3d;
 }
button{
    margin-left: 50px;
    border-radius: 20px;
    padding: 8px;
    background-color: tomato;
    color: white;
}
button:hover{
    background-color: black;
}
label{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    color: white;
}
input{
    outline: none;
    min-width: 10px;
    padding-left: 20px;
}
#kit{
    height:100px ;
    width:auto;
    margin-top: -90px;
}
#icon{
    height:100px;
    width:auto;
    margin-top: 100px;
    padding-top:40px;
    margin-left: -150px;
    border-radius: 80px;
}